<div id="pres" class="pres row">
	<div class="sider span4 offset4">
		<h1>Presentation</h1>
		Cupcake ipsum dolor sit amet chocolate cake cheesecake powder sugar plum. Chocolate cake macaroon gummi bears applicake. Lollipop I love gummies apple pie I love pastry wafer I love. Donut faworki chocolate cake liquorice I love lollipop tiramisu candy canes. <span class="lol">Cupcake tiramisu</span> apple pie gingerbread. Dessert halvah apple pie I love marzipan chocolate bar. Liquorice lemon drops dessert candy lollipop. Topping bonbon caramels lemon drops I love. Croissant gummi bears dragée toffee cookie muffin. Lemon drops oat cake I love dragée gummies dessert muffin. Bonbon I love dragée chocolate. Chupa chups faworki biscuit bonbon cupcake ice cream chocolate bar. Dessert bonbon chupa chups.
	</div>
	<div class="span4 offset3">
		<%= image_tag "winenotyou-front-mod.png" %>
	</div>
	<!--<div class="sider span4">
		<h1>Presentation</h1>
		Cupcake ipsum dolor sit amet chocolate cake cheesecake powder sugar plum. Chocolate cake macaroon gummi bears applicake. Lollipop I love gummies apple pie I love pastry wafer I love. Donut faworki chocolate cake liquorice I love lollipop tiramisu candy canes. Cupcake tiramisu apple pie gingerbread. Dessert halvah apple pie I love marzipan chocolate bar. Liquorice lemon drops dessert candy lollipop. Topping bonbon caramels lemon drops I love. Croissant gummi bears dragée toffee cookie muffin. Lemon drops oat cake I love dragée gummies dessert muffin. Bonbon I love dragée chocolate. Chupa chups faworki biscuit bonbon cupcake ice cream chocolate bar. Dessert bonbon chupa chups.
	</div>-->
</div>
<div id="bordeau" class="bordeau row">
	<div class="span6 offset2 viticulteur">
		<%= image_tag "viticulteur_bordeaux.jpg" %>
	</div>
	<div class="sider span6 offset2">
		<h1>Sélection de Bordeaux</h1>
		Cupcake ipsum dolor sit amet chocolate cake cheesecake powder sugar plum. Chocolate cake macaroon gummi bears applicake. Lollipop I love gummies apple pie I love pastry wafer I love. Donut faworki chocolate cake liquorice I love lollipop tiramisu candy canes. Cupcake tiramisu apple pie gingerbread. Dessert halvah apple pie I love marzipan chocolate bar. Liquorice lemon drops dessert candy lollipop. Topping bonbon caramels lemon drops I love. Croissant gummi bears dragée toffee cookie muffin. Lemon drops oat cake I love dragée gummies dessert muffin. Bonbon I love dragée chocolate. Chupa chups faworki biscuit bonbon cupcake ice cream chocolate bar. Dessert bonbon chupa chups.
		Cupcake ipsum dolor sit amet chocolate cake cheesecake powder sugar plum. Chocolate cake macaroon gummi bears applicake. Lollipop I love gummies apple pie I love pastry wafer I love. Donut faworki chocolate cake liquorice I love lollipop tiramisu candy canes. Cupcake tiramisu apple pie gingerbread. Dessert halvah apple pie I love marzipan chocolate bar. Liquorice lemon drops dessert candy lollipop. Topping bonbon caramels lemon drops I love. Croissant gummi bears dragée toffee cookie muffin. Lemon drops oat cake I love dragée gummies dessert muffin. Bonbon I love dragée chocolate. Chupa chups faworki biscuit bonbon cupcake ice cream chocolate bar. Dessert bonbon chupa chups.
	</div>
</div>

<div id="bourgogne" class="bourgogne row">
	<div class="span6 offset2 sider">
		<h1>Sélection de Bourgogne</h1>
		Cupcake ipsum dolor sit amet chocolate cake cheesecake powder sugar plum. Chocolate cake macaroon gummi bears applicake. Lollipop I love gummies apple pie I love pastry wafer I love. Donut faworki chocolate cake liquorice I love lollipop tiramisu candy canes. Cupcake tiramisu apple pie gingerbread. Dessert halvah apple pie I love marzipan chocolate bar. Liquorice lemon drops dessert candy lollipop. Topping bonbon caramels lemon drops I love. Croissant gummi bears dragée toffee cookie muffin. Lemon drops oat cake I love dragée gummies dessert muffin. Bonbon I love dragée chocolate. Chupa chups faworki biscuit bonbon cupcake ice cream chocolate bar. Dessert bonbon chupa chups.
		Cupcake ipsum dolor sit amet chocolate cake cheesecake powder sugar plum. Chocolate cake macaroon gummi bears applicake. Lollipop I love gummies apple pie I love pastry wafer I love. Donut faworki chocolate cake liquorice I love lollipop tiramisu candy canes. Cupcake tiramisu apple pie gingerbread. Dessert halvah apple pie I love marzipan chocolate bar. Liquorice lemon drops dessert candy lollipop. Topping bonbon caramels lemon drops I love. Croissant gummi bears dragée toffee cookie muffin. Lemon drops oat cake I love dragée gummies dessert muffin. Bonbon I love dragée chocolate. Chupa chups faworki biscuit bonbon cupcake ice cream chocolate bar. Dessert bonbon chupa chups.
	</div>
	<div class="viticulteur span6 offset2">
		<%= image_tag "viticulteur_bourgogne.jpg" %>
	</div>
</div>