<div id="pres" class="pres row">
	<div class="sider span4 offset3">
		<h1>Presentation</h1>
		Brownie jelly beans wypas donut faworki candy cookie tiramisu marzipan. Fruitcake biscuit donut tiramisu cupcake. Biscuit topping pie cookie topping topping cookie. Cupcake toffee ice cream cotton candy cake. Sesame snaps marzipan danish cheesecake cotton candy jelly beans fruitcake tart pie. Muffin candy canes sesame snaps. Chupa chups powder topping pudding chocolate cake powder cookie soufflé. Halvah marshmallow muffin biscuit sweet. Jujubes tart croissant chocolate bar marzipan chocolate. Liquorice wafer jelly beans fruitcake halvah. Halvah marshmallow sugar plum jelly beans. Donut caramels sweet gummi bears pie. Tootsie roll jelly muffin brownie marzipan topping marshmallow muffin donut. Chocolate pie faworki.
	</div>
	<div class="span4">
		<%= image_tag "winenotyou-front-mod.png" %>
	</div>
	<div class="sider span4">
		<h1>Presentation</h1>
		Brownie jelly beans wypas donut faworki candy cookie tiramisu marzipan. Fruitcake biscuit donut tiramisu cupcake. Biscuit topping pie cookie topping topping cookie. Cupcake toffee ice cream cotton candy cake. Sesame snaps marzipan danish cheesecake cotton candy jelly beans fruitcake tart pie. Muffin candy canes sesame snaps. Chupa chups powder topping pudding chocolate cake powder cookie soufflé. Halvah marshmallow muffin biscuit sweet. Jujubes tart croissant chocolate bar marzipan chocolate. Liquorice wafer jelly beans fruitcake halvah. Halvah marshmallow sugar plum jelly beans. Donut caramels sweet gummi bears pie. Tootsie roll jelly muffin brownie marzipan topping marshmallow muffin donut. Chocolate pie faworki.
	</div>
</div>
<div id="bordeau" class="bordeau row">
	<div class="sider span4 offset12">
		<h1>Bordeaux</h1>
		Brownie jelly beans wypas donut faworki candy cookie tiramisu marzipan. Fruitcake biscuit donut tiramisu cupcake. Biscuit topping pie cookie topping topping cookie. Cupcake toffee ice cream cotton candy cake. Sesame snaps marzipan danish cheesecake cotton candy jelly beans fruitcake tart pie. Muffin candy canes sesame snaps. Chupa chups powder topping pudding chocolate cake powder cookie soufflé. Halvah marshmallow muffin biscuit sweet. Jujubes tart croissant chocolate bar marzipan chocolate. Liquorice wafer jelly beans fruitcake halvah. Halvah marshmallow sugar plum jelly beans. Donut caramels sweet gummi bears pie. Tootsie roll jelly muffin brownie marzipan topping marshmallow muffin donut. Chocolate pie faworki.
	</div>
</div>
