/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	min-height: 100%;
}

.viewport {
	background-color: #000;
	display: block;
}

.navbar {
	height: 95px;
	display: block;
}

.navbrick {
	font-size: 21px;
	color: rgb(240, 240, 240);
	background-color: rgb(240, 240, 240);
	background-color: rgba(240, 240, 240, 0.4);
	border: none;
  border-radius: 15px 2px 2px 15px;
  text-align: center;
	margin: 45px 0 0 0;
	padding: 5px 10px 5px 10px;
}

.selected {
	color: #c40b1d;
}

.pres {
	color: rgb(230, 230, 230);
	background: #000;
}

.bordeau {
	background: #7e0e42;
}

.bourgogne {
	background: #e6cb37;
}

.sider {
	background-color: rgb(240, 240, 240);
	background-color: rgba(240, 240, 240, 0.4);
	border: none;
  border-radius: 40px 10px;
	padding: 20px 40px 40px 40px;
	margin: 70px 0 70px 20px;
}

.footer {
	margin-top: 30px;
	margin-bottom: 70px;
}

.viticulteur {
	margin-top: 180px;
}

.lol {
	color: #c41322;
	font-size: 18px;
}
